<nav aria-label="pagination">
    {% if page.has_other_pages %}
        <ul class="pagination">
            {% if page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{page.previous_page_number}}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            {% for pages in page.paginator.page_range %}
                {% if page.number == pages %}
                    <li class="page-item active"><a class="page-link">{{pages}}<span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{pages}}">{{pages}}</a></li>
                {% endif %}
            {% endfor %}
            {% if page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page.next_page_number}}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    {% endif %}
  </nav>